<section class="bg-gray-50 bg-login">
	<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
		<div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
			<a
				href="#"
				class="pt-5 flex justify-center items-center mb-6 text-2xl font-semibold text-lime-500"
			>
				<img class="w-8 h-8 mr-2" src="/assets/logo.png" alt="logo" />
				Adopt Pet
			</a>

			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1
					class="text-xl text-center font-bold leading-tight tracking-tight text-lime-700 md:text-2xl"
				>
					Kiểm tra email của bạn để lấy lại mật khẩu
				</h1>
	
			</div>
		</div>
	</div>
</section>
