@if(pet !== null) {
<div class="wrapper">
	<!-- pet info -->
	<div class="container mx-auto p-10">
		<div class="info-container">
			<div class="grid grid-cols-2 gap-3">
				<div class="pet-image">
					<div class="image">
						<img
							src="https://www.hanoipetadoption.com/admin/user-content/Animal/600017d4-ccbe-4c49-a4c3-3800e38afa7a.jpeg"
							alt=""
						/>
					</div>
				</div>

				<div class="infor">
					<h1 class="text-3xl">{{ pet.petName }}</h1>

					<div class="breed">
						<h1>
							@if(pet.breed !== null) {
								<span>{{ pet.breed.breedName }}</span>
								} @else {
								<span>Chưa xác địnhF</span>
								}
						</h1>
					</div>

					<div class="color">
						<h1>
							Màu sắc:
							@if(pet.colour !== null) {
								<span>{{pet.colour.colourName}}</span>
							} @else {
								<span>Chưa rõ</span>
							}
						</h1>
					</div>

					<div class="age">
						<h1>
							Tuổi: <span class="font-thin">{{ pet.petAge }}</span>
						</h1>
					</div>

					<div class="weight">
						<h1>
							Cân nặng: <span class="font-thin">{{ pet.petWeight }}</span>
						</h1>
					</div>

					<div class="gender">
						<h1>
							Giới tính: 
							@if (pet.petGender === 0) {
								<span class="font-thin">Cái</span>
							} @else {
								<span class="font-thin">Đực</span>
							}
						</h1>
					</div>

					<div class="gender">
						<h1>
							Ngày nhận nuôi: <span class="font-thin">{{ pet.petEntryDate }}</span>
						</h1>
					</div>

					<!-- thong tin them -->
					<div class="p-3">
						<h1 class="text-3xl pb-3">Thông Tin Thêm</h1>

						<div class="font-thin">
							<h1>
								@if (pet.petWormed === 1) {
								<i class="status-info text-danger fas fa-times-circle"></i> Đã tẩy
								giun } @else {
								<i class="status-info text-danger fas fa-times-circle"></i> Chưa tẩy
								giun }
							</h1>
							<h1>
								@if (pet.petVaccined === 1) {
								<i class="status-info text-success fas fa-check-circle"></i> Tim vắc
								xin } @else {
								<i class="status-info text-success fas fa-check-circle"></i> Chưa
								tim vắc xin }
							</h1>
							<h1>
								@if (pet.petMicrochipped === 1) {
								<i class="status-info text-warning fas fa-question-circle"></i> Có
								Microchip } @else {
								<i class="status-info text-warning fas fa-question-circle"></i> Chưa
								có Microchip }
							</h1>
						</div>
					</div>
				</div>
			</div>

			<!-- mo ta -->
			<div>
				<h1 class="text-3xl pb-4">Tìm Hiểu Về Thú Cưng</h1>

				<p class="font-thin">
					{{ pet.petDescription }}
				</p>
			</div>

			<!-- anh -->
			<div class="py-4">
				<h1 class="text-3xl pb-5">Thư Viện Ảnh</h1>

				<div class="columns-1 sm:columns-3 gap-3">
					
					@for (img of pet.petImages; track $index) {
						<div class="break-inside-avoid mb-2">
							<img
								src="{{baseImg}}/{{img.imgPath}}"
								alt=""
							/>
						</div>
					}
					
				</div>
			</div>

			<div>
				<button 
				(click)="deletePet()"
				class="py-2 px-4 rounded-md block search ml-2 bg-red-400 text-white hover:bg-red-700 duration-150">Xóa thú cưng</button>
			</div>
		</div>
	</div>
</div>
} @else {
<div class="min-h-screen flex flex-grow items-center justify-center bg-gray-50">
	<div class="rounded-lg bg-white p-8 text-center shadow-xl">
		<h1 class="mb-4 text-4xl font-bold">Không tìm thấy dữ liệu</h1>
		<p class="text-gray-600">Thú cứng này không tồn tại</p>
		<a
			href="/"
			class="mt-4 inline-block rounded bg-blue-500 px-4 py-2 font-semibold text-white hover:bg-blue-600"
		>
			Quay lại
		</a>
	</div>
</div>
}
