<!-- <app-header></app-header> -->

<div class="wrapper">
	<div class="container mx-auto py-2">
		<div class="">

            <h1 class="text-3xl ">Thêm thú cưng</h1>

            <!-- thêm ảnh -->
            <div class="img-input">

                <div>
                    <label
                        for="first_name"
                        class="block mb-2 text-sm font-medium text-gray-900"
                        >Chọn hình ảnh</label
                    >
                    <input
                        type="file"
                        id="first_name"
                        class="w-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5 dark:border-gray-600 dark:placeholder-gray-400"
                        placeholder="John"
                        required
                    />
                </div>

                <div class="w-full max-h-[500px]">

                </div>
            </div>

            <form [formGroup]="petForm">

                <!-- thong tin co ban -->
                <div class="p-4 border mt-4 rounded-md">
                    <h1 class="py-2">Thông tin cơ bản</h1>

                    <div class="grid gap-6 mb-6 md:grid-cols-2">
                        <!-- ten thu cung -->
                        <div>
                            <label
                                for="first_name"
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Tên thú cưng  <span class="text-red-600">*</span></label
                            >
                            <input
                                type="text"
                                id="first_name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400"
                                placeholder="Sữa"
                                required
                                formControlName="petName"
                            />
                        </div>

                        <!-- email -->
                        <div>
                            <label
                                for="last_name"
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Email chủ thú cưng <span class="text-red-600">*</span></label
                            >
                            <input
                                type="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                                placeholder="name@gmail.com"
                                required
                                formControlName="email"
                            />
                        </div>

                        <!-- do tuôi -->
                        <div>
                            <label
                                for="company"
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Độ tuổi <span class="text-red-600">*</span></label
                            >
                 
                            <input
                                type="text"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                                placeholder="ngày cụ thể hoặc số tuổi hoặc khoản"
                                required
                                formControlName="age"
                            />
                        </div>
                    </div>
                </div>

                <!-- dia diem -->
                <div class="p-4 border mt-4 rounded-md">
                    <h1 class="py-2">Địa điểm</h1>
                    <div class="grid gap-6 mb-6 md:grid-cols-2">

                        <!-- tinh thanh pho -->
                        <div>
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
                                >Tỉnh thành phố <span class="text-red-600">*</span></label
                            >
                            <select (change)="onProviceChanged()"
                                formControlName="province"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:">
                               
                                @for (p of provinces; track $index) {
                                    <option value="{{p.province_id}}">{{p.province_name}}</option>
                                }
                            </select>
                        </div>


                        <!-- quan huyen -->
                        <div>
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
                                >Quận / Huyện <span class="text-red-600">*</span></label
                            >
                            <!-- <input
                                type="tel"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                                placeholder="Quận 1"
                                required
                                formControlName="district"
                                (change)="onDistrictChanged()"
                            /> -->

                            <select (change)="onDistrictChanged()"
                                formControlName="district"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:">
                            
                                @for (d of districts; track $index) {
                                    <option value="{{d.district_id}}">{{d.district_name}}</option>
                                }
                            </select>
                        </div>

                        <!-- xa -->
                        <div>
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
                                >Thị xã / Phường <span class="text-red-600">*</span></label
                            >
                            <!-- <input
                                type="tel"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                                placeholder="Quận 1"
                                required
                                formControlName="ward"
                                (change)="onWardsChanged()"
                            /> -->

                            <select (change)="onWardsChanged()"
                            formControlName="ward"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:">
                        
                            @for (w of wards; track $index) {
                                <option value="{{w.ward_id}}">{{w.ward_name}}</option>
                            }
                        </select>
                        </div>

                        <!-- so nha -->
                        <div>
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
                                >Số nhà</label
                            >
                            <input
                                type="tel"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                                placeholder="221"
                                required
                                formControlName="street"
                            />
                        </div>
                    </div>
                </div>
                
                <!-- thong tin khac -->
                <div class="p-4 border mt-4 rounded-md">
                    <h1 class="py-2">Thông tin khác</h1>
                    <div class="grid gap-6 mb-6 md:grid-cols-2">

                        <!-- can nang -->
                        <div>
                            <label
                                for="website"
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Câng nặng <span class="text-red-600">*</span></label
                            >
                            <input
                                type="number"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                                placeholder="2kg"
                                required
                                formControlName="weight"
                            />
                        </div>

                        <!-- gioi tinh -->
                        <div>
                            <label
                                for="website"
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Giới tính <span class="text-red-600">*</span></label
                            >
                            <select formControlName="petGender"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:">
                                <option selected value="0">Đực</option>
                                <option value="1">Cái</option>
                                <option value="2">Khác</option>
                            </select>
                        </div>

                        <!-- triet san -->
                        <div>
                            <label
                                for="visitors"
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Triệt sản <span class="text-red-600">*</span></label
                            >
                            <select formControlName="petDesexed"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:">
                                <option selected value="0">Có</option>
                                <option value="1">Không</option>
                                <option value="1">Chưa rõ</option>
                            </select>
                        </div>

                        <!-- tay giun -->
                        <div>
                            <label
                                for="visitors"
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Tẩy giun <span class="text-red-600">*</span></label
                            >
                            <select formControlName="petWormed"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:">
                                <option selected value="0">Có</option>
                                <option value="1">Không</option>
                                <option value="1">Chưa rõ</option>
                            </select>
                        </div>

                        <!-- vac xin -->
                        <div>
                            <label
                                for="visitors"
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Tim vắc xin <span class="text-red-600">*</span></label
                            >
                            <select formControlName="petVaccined"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:">
                                <option selected value="0">Có</option>
                                <option value="1">Không</option>
                                <option value="1">Chưa rõ</option>
                            </select>
                        </div>

                        <!-- microchipped -->
                        <div>
                            <label
                                for="visitors"
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Mã định danh (microchip) <span class="text-red-600">*</span></label
                            >
                            <select formControlName="microchipped"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:">
                                <option selected value="0">Có</option>
                                <option value="1">Không</option>
                                <option value="1">Chưa rõ</option>
                            </select>
                        </div>

                        <!-- entry date -->
                        <div>
                            <label
                                class="block mb-2 text-sm font-medium text-gray-900"
                                >Ngày nhận nuôi <span class="text-red-600">*</span></label
                            >
                            <input
                                type="date"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                                placeholder="2kg"
                                required
                                formControlName="petEntryDate"
                            />
                        </div>
                    </div>
                </div>
                
                <!-- <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
                        >Email address</label
                    >
                    <input
                        type="email"
                        id="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                        placeholder="john.doe@company.com"
                        required
                    />
                </div> -->

                <!-- <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900"
                        >Địa chỉ</label
                    >
                    <input
                        type="password"
                        id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                        placeholder="•••••••••"
                        required
                    />
                </div>

                <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900"
                        >Password</label
                    >
                    <input
                        type="password"
                        id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                        placeholder="•••••••••"
                        required
                    />
                </div> -->
                
                <div class="mb-6">
                    <label
                        for="confirm_password"
                        class="block mb-2 text-sm font-medium text-gray-900"
                        >Mô tả <span class="text-red-600">*</span></label
                    >
                    <!-- <input
                        type="password"
                        id="confirm_password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
                        placeholder="•••••••••"
                        required
                    /> -->

                    <textarea class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:" name="" id="" cols="30" rows="10"></textarea>
                </div>

                <button
                    type="submit"
                    class="text-white bg-lime-700 hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800"
                >
                    Thêm
                </button>

                <a
                    routerLink="/admin/pet-manager"
                    class="ml-3 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                >
                    Hủy
                </a>
            </form>
			
		</div>
	</div>
</div>

