<!-- start navbar -->
<div
	class=" md:w-full md:top-0 md:z-20 flex flex-row flex-wrap items-center bg-white p-6 border-b border-gray-300"
>
	<!-- logo -->
	<div class="flex-none w-56 flex flex-row items-center">
		<img src="assets/logo.png" class="w-10 flex-none" />
		<strong class="capitalize ml-1 flex-1">Adopt Dash board</strong>

		<!-- <button id="sliderBtn" class="flex-none text-right text-gray-900 hidden md:block">
			<i class="fa-solid fa-circle-chevron-left"></i>
		</button> -->
	</div>

	<div id="navbar" class="animated flex-1 pl-3 flex flex-row flex-wrap justify-end items-center">
		<div class="flex flex-row-reverse items-center">
			<div class="dropdown relative md:static">

                <!-- profile -->
				<button
					class="menu-btn focus:outline-none focus:shadow-outline flex flex-wrap items-center"
				>
					<div class="w-8 h-8 overflow-hidden rounded-full">
						<img class="w-full h-full object-cover" src="assets/logo.png" />
					</div>
					<div class="ml-2 capitalize flex">
						<h1 class="text-sm text-gray-800 font-semibold m-0 p-0 leading-none">
							Hồ Vĩnh Tín
						</h1>
					</div>
				</button>
			</div>
		</div>
	</div>
</div>
