<!-- <app-header></app-header> -->

<div class="wrapper">
	<div class="container mx-auto py-2">
		<div class="">
			<h1 class="text-3xl">Thêm tình nguyện viên</h1>

			<form [formGroup]="volunteerForm">
				<!-- thong tin -->
				<div class="grid gap-6 mb-6 md:grid-cols-2 border rounded-md p-4">
					<!-- email -->
					<div>
						<label for="first_name" class="block mb-2 text-sm font-medium text-gray-900"
							>Email <span class="text-red-600">*</span></label
						>
						<input
							type="email"
							id="first_name"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400"
							placeholder="example@gmail.com"
							required
							formControlName="email"
						/>

						@if (submitted === true && volunteerForm.hasError('required', 'email')) {
						<small class="text-red-500">Email tình nguyện viên không được để trống</small>
						} @else if (submitted === true && volunteerForm.hasError('email', 'email')) {
							<small class="text-red-500">Email không hợp lệ</small>
						}
					</div>
				</div>

				<!-- dia chi -->
				<div class="p-4 border mt-4 rounded-md">
					<h1 class="py-2">Địa điểm</h1>
					<div class="grid gap-6 mb-6 md:grid-cols-2">
						<!-- tinh thanh pho -->
						<div>
							<label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
								>Tỉnh thành phố</label
							>
							<select
								(change)="onProviceChanged($event)"
								formControlName="province"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
							>
								@for (p of provinces; track $index) {
								<option data-id="{{ p.province_id }}" value="{{ p.province_name }}">
									{{ p.province_name }}
								</option>
								}
							</select>
						</div>

						<!-- quan huyen -->
						<div>
							<label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
								>Quận / Huyện</label
							>

							<select
								(change)="onDistrictChanged($event)"
								formControlName="district"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
							>
								@for (d of districts; track $index) {
								<option data-id="{{ d.district_id }}" value="{{ d.district_name }}">
									{{ d.district_name }}
								</option>
								}
							</select>
						</div>

						<!-- xa -->
						<div>
							<label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
								>Thị xã / Phường</label
							>
			
							<select
								formControlName="ward"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
							>
								@for (w of wards; track $index) {
								<option value="{{ w.ward_name }}">{{ w.ward_name }}</option>
								}
							</select>
						</div>

						<!-- so nha -->
						<div>
							<label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
								>Số nhà</label
							>
							<input
								type="tel"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
								placeholder="221 hoặc để trống"
								formControlName="street"
							/>
						</div>
					</div>
				</div>

				<!-- vai tro -->
				<div class="p-4 border mt-4 rounded-md">
					<h1 class="py-2">Chọn vai trò</h1>
					<div class="grid gap-6 mb-6 md:grid-cols-2">
						<!-- chọn vai trò -->
						<div>
							<label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
								>Danh sách vai trò</label
							>
							<select
								formControlName="roleId"
								(change)="onRoleSelectted($event)"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:"
							>
								@for (p of volunteerRoles; track $index) {
								<option data-id="{{ p.description }}" value="{{p.id}}">
									{{ p.name }}
								</option>
								}
							</select>
						</div>

						<!-- mô tả -->
						<div>
							<label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
								>Mô tả</label
							>

							<textarea 
							readonly
							rows="5"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark: dark:">
								{{roleDesciption}}
							</textarea>
						</div>
					</div>
				</div>

				<button
					(click)="onSubmit()"
					type="submit"
					class="text-white bg-lime-700 hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800"
				>
					Thêm
				</button>

				<a
					routerLink="/admin/volunteer-manager"
					class="ml-3 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
				>
					Hủy
				</a>
			</form>
		</div>
	</div>
</div>

<!-- <app-footer></app-footer> -->
