<footer>
	<div class="container mx-auto">
		<div class="section">
			<div class="info">
				<span>&#64;{{ year }} UTC2 University</span>
			</div>

			<div class="contact">
                
				<a href="https://github.com/VinhTin-AQUA/AdoptPet">
					<img src="/assets/github.svg" alt="" />
				</a>

				<a href="https://www.instagram.com/vinht_in/">
					<img src="/assets/instagram.svg" alt="" />
				</a>
				<a href="https://www.linkedin.com/in/h%E1%BB%93-v%C4%A9nh-t%C3%ADn-0790572a6/">
					<img src="/assets/linkedin.svg" alt="" />
				</a>

			</div>
		</div>
	</div>
</footer>
