<div class="wrapper">

    <div class="banner">
        <div class="banner-content">
            <h1>Liên Hệ</h1>
            <div class="breadcrumb">
                <div class="breadcrumb-body">
                    <a routerLink="/adopt-pet">Trang Chủ</a>
                    <span class="arrow-point"></span>
                    <span>Liên Hệ</span>
                </div>
            </div>
        </div>
    </div>

    
    <div class="contact-information">
        <div class="container mx-auto">
            <div class="grid grid-cols-2">

                <div class="contact">
                    <h1>Thông Tin Liên Hệ</h1><br>
                    <a href="mailto:hanoipetadoption@gmail.com">📩 hanoipetadoption&#64;gmail.com</a> 
                    <span>📞 (+84)39 320 1068</span> 
                    <span>🗺️ Hà Nội - Việt Nam</span> 
                </div>

                <div class="Feedback">

                    <h1>Gửi Góp Ý</h1> <br>
                    
                    <div class="form">
                        <form>

                            <div class="name-email">
                                <div class="form-group">
                                    <label>Họ và tên</label> <br>
                                    <input class="input" type="text">
                                </div>

                                <div class="form-group">
                                    <label>Email</label> <br>
                                    <input class="input" type="email">
                                </div>
                            </div>

                            

                            <div class="form-group">
                                <label>Tiêu đề</label> <br>
                                <input class="input" type="text">
                            </div>


                            <div class="form-group">
                                <label>Nội dung</label> <br>
                                <textarea class="input" id="" cols="30" rows="10"></textarea>
                            </div>

                        </form>

                        <button class="btn-primary">Gửi Tin Nhắn</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
