<div class="wrapper">
	<!-- banner -->
	<div class="banner">
		<div class="banner-content">
			<h1>Ủng hộ</h1>
			<div class="breadcrumb">
				<div class="breadcrumb-body">
					<a routerLink="/adopt-pet">Trang Chủ</a>
					<span class="arrow-point"></span>
					<span>Ủng Hộ</span>
				</div>
			</div>
		</div>
	</div>

	<!-- toi muon ung ho -->
	<div class="jumbotron">
		<div class="grid grid-cols-6">
			<div class="col-span-4">
				<div class="jumbotron-adoption-process">
					<h1>Tôi Muốn Ủng Hộ</h1>
					<br />
					<p>
						Mọi hoạt động cứu hộ của Hanoi Pet Adoption hoàn toàn dựa trên các khoản
						quyên góp từ cộng đồng. Chi phí hàng tháng của nhóm bao gồm tiền thuê nhà,
						tiền viện phí, thức ăn, điện, nước, thuốc men và đồ dùng, bỉm tã, lương hỗ
						trợ các bạn tnv dọn dẹp... Nhóm rất cần sự giúp đỡ của các bạn để có thể duy
						trì nhà chung cũng như đội cứu hộ. Chỉ cần cố định 50k - 100k hàng tháng là
						các bạn đã giúp đỡ được cho nhóm và cách bé rất nhiều!
						<br /><br />

						Chi phí sẽ được chia đều cho các bé khác còn nằm viện và gây dựng nhà chung.
						Ngoài ra Nhóm cũng tiếp nhận quyên góp bằng hiện vật như quần áo cũ (để lót
						chuồng), bỉm, găng tay y tế, thức ăn, cát vệ sinh v.v...
						<br /><br />

						*Lưu ý: nhóm không dùng zalo và KHÔNG BAO GIỜ yêu cầu Mạnh Thường Quân cung
						cấp thông tin thẻ hoặc mã OTP
						<br /><br />

						🧧*Danh sách mạnh thường quân quyên góp cho nhóm sẽ được cập nhật tại đây:
						<br /><br />

						2024:
						<a
							href="https://docs.google.com/spreadsheets/d/14Jufte0oDQj7LKpQhRWOgDs49aYAdYhPAiusFwCrLHM/edit#gid=798341525"
							>Xem tại đây</a
						>
						<br />
						2023:
						<a
							href="https://docs.google.com/spreadsheets/d/19qFZMCHFJm-aJojLU7vLbrOrE1He5pgpzOfXD68f5-E/edit#gid=0"
							>Xem tại đây</a
						>
						<br />
						2022:
						<a
							href="https://docs.google.com/spreadsheets/d/1hWbOzTdH0pjVnn46wUryfFdDClEOCWq_9LGC5CpO78o/edit#gid=584063500"
							>Xem tại đây</a
						>
						<br />
						2021:
						<a
							href="https://docs.google.com/spreadsheets/d/18P-TD9wzwhxfLZcej_SZiaGgyXhqdyVMZ_cvKQCY3VI/edit#gid=372469675"
							>Xem tại đây</a
						><br />
						2020:
						<a
							href="https://docs.google.com/spreadsheets/d/1cjEAMUCIXGCWWiO9WN_oFVtoJtFOi44E2SyhzHvRmFw/edit#gid=799499538"
							>Xem tại đây</a
						>
						<br />
						2019:
						<a
							href="https://docs.google.com/spreadsheets/d/17p2I0GjKV3RrJchyEKZz0TpZ2gCcXndDUSzqbpUPD0o/edit?fbclid=IwAR31pH4Bac48LlQcmYgySwelT-dlqqBJJff22iCqMqAIlhjC_3-VRanVYX4#gid=799499538"
							>Xem tại đây</a
						><br />
						2018:
						<a
							href="https://docs.google.com/spreadsheets/d/1BGPIGcl4yRxqIIVLtRFbnn8WXGPVFHzDkNPmOAbT-gk/edit#gid=0"
							>Xem tại đây</a
						>
						<br /><br /><br />

						Link thống kê viện phí 2024:
						<a
							href="https://docs.google.com/spreadsheets/d/1MMMOVP7fSDn7N3ZkKvEO7LJdpptIkqCKnFZXqdJvFf4/edit#gid=0"
							>Xem tại đây</a
						>
						<br />
						Link thống kê viện phí 2023:
						<a
							href="https://docs.google.com/spreadsheets/d/1B9xmyxoonTzrp82SeNA5NVCW0cBhGHFZpiREM9_2mms/edit#gid=0"
							>Xem tại đây</a
						>
						<br />
						Link thống kê viện phí 2022:
						<a href="https://bit.ly/3LTj4fF">Xem tại đây</a> <br />
						Link thống kê viện phí 2021:
						<a
							href="https://docs.google.com/spreadsheets/d/1lhCd96wwxLq-afKDanC9P5y60zi8KQUVeTFo0geKTns/edit#gid=0"
							>Xem tại đây</a
						>
						<br />
						Link thống kê viện phí 2020:
						<a
							href="https://docs.google.com/spreadsheets/d/1aArdGa3sOKfVcHGLc9eb6gXpOfE7jAJT8sqNypGssyw/edit#gid=0"
							>Xem tại đây</a
						>
						<br />
						Link thống kê viện phí 2019:
						<a
							href="https://docs.google.com/spreadsheets/d/1mEXtzSkfA36PPWTOz3-pKtl_d_K44azNwRe-dta7sEo/edit#gid=1722976652"
							>Xem tại đây</a
						><br />
						<br /><br /><br />

						🗳️ Địa điểm đặt hòm quyên góp: <br />
						Better World Hanoi số 8 Xuân Diệu Hà Nội<br />
						Phòng khám Animal Care: nhà 20 ngõ 424 Thuỵ Khuê
					</p>

					<a
						routerLink="/adopt-pet/contact"
						class="block mt-5 uppercase bg-lime-400 text-white px-6 py-3 w-1/3 rounded-full hover:bg-lime-700 duration-100"
						>Ủng hộ ngay</a
					>
				</div>
			</div>

			<div class="col-span-2">
				<div class="adopt-condition">
					<div class="adopt-condition-body">
						<img src="/assets/bg-donate/qr-donation.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- nha tai tro -->
	<div class="donor">
		<h1 class="donor-header">Nhà tài trợ</h1>

		<div class="donor-list">
			<div class="donor-item">
				<img src="/assets/leg-icon-512.png" alt="" />

				<h1 class="donor-name">Me-0 Việt Name</h1>
			</div>

			<div class="donor-item">
				<img src="/assets/leg-icon-512.png" alt="" />

				<h1 class="donor-name">Smartheart Việt Name</h1>
			</div>

			<div class="donor-item">
				<img src="/assets/leg-icon-512.png" alt="" />

				<h1 class="donor-name">Better world</h1>
			</div>

			<div class="donor-item">
				<img src="/assets/leg-icon-512.png" alt="" />

				<h1 class="donor-name">Thầy Jim</h1>
			</div>
		</div>

		<a class="btn-primary" routerLink="/"> Xem thêm </a>
	</div>

    <!-- cac phuong thuc ung ho khac -->
    <div class="other-donation">
        <div class="donation-title">
            Các phương thức ủng hộ khác
            <img src="/assets/leg-icon-512.png" alt="" class="mx-auto w-10" />
        </div>

        <div class="donation-list">

            <div class="donation-item">
                <div class="img">
                    <img src="/assets/bg-donate/bim.png" alt="">
                </div>

                <p>Bỉm</p>
            </div>

            <div class="donation-item">
                <div class="img">
                    <img src="/assets/bg-donate/quan-ao.png" alt="">
                </div>

                <p>Quần Áo</p>
            </div>

            <div class="donation-item">
                <div class="img">
                    <img src="/assets/bg-donate/thuc-an.png" alt="">
                </div>

                <p>Thức Ăn</p>
            </div>

        </div>

        <a routerLink="/adopt-pet/contact" class="btn-primary">LIÊN HỆ</a>

    </div>
    
    <!-- be ngoan trong tuan -->
    <div class="animal">

        <div class="animal-title">
            <h1>Bé ngoan dễ thương</h1>
            <img src="/assets/leg-icon.png" alt="">
        </div>

        <div class="animal-list">

            <a class="animal-item">
                <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/c1dffd23-4123-4146-8cb4-45960705cafd.jpeg" alt="">

                <h1 class="name-item">Akira</h1>
                <p>Giới tính: <span>Đực</span></p>
                <p>Tuổi: <span>trẻ</span></p>
                <p>Tiêm phòng: <span>chưa rõ</span></p>
            </a>

            <a class="animal-item">
                <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/811c9cb6-0866-4640-a83c-43b17aedec39.jpg" alt="">
                <h1 class="name-item">Aki</h1>
                <p>Giới tính: <span>Cái</span></p>
                <p>Tuổi: <span>trẻ</span></p>
                <p>Tiêm phòng: <span>Có</span></p>
            </a>

            <a class="animal-item">
                <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/204adf79-e01f-4fd2-930b-761a3721d019.jpeg" alt="">
                <h1 class="name-item">Poppy</h1>
                <p>Giới tính: <span>Đực</span></p>
                <p>Tuổi: <span>Trưởng thành</span></p>
                <p>Tiêm phòng: <span>Chưa rõ</span></p>
            </a>

            <a class="animal-item">
                <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/f1250d40-13d0-4ef8-90a4-703cf4d1a670.jpeg" alt="">
                <h1 class="name-item">Sữa</h1>
                <p>Giới tính: <span>Cái</span></p>
                <p>Tuổi: <span>trẻ</span></p>
                <p>Tiêm phòng: <span>Có</span></p>
            </a>

        </div>

        <a class="btn-primary" routerLink="/adopt-pet/adopt">
            Nhận nuôi
        </a>

    </div>

</div>
