.banner {
	background-image: url('/assets/adopt-pet-detail/banner-adopt-pet-detail.jpg');

	.banner-content {
		@apply w-full h-full px-32 py-52;

		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.8) 0%,
			rgba(93, 93, 93, 0.8) 37%,
			rgba(149, 149, 149, 0) 73%,
			rgba(193, 193, 193, 0) 100%
		);

		h1 {
			@apply text-6xl text-white mb-3;
			font-weight: 500;
		}

		.breadcrumb {
			@apply bg-lime-400 px-5 py-2 inline-block rounded-lg my-auto;
		}

		.breadcrumb-body {
			@apply flex justify-start items-center gap-1;
		}

		.breadcrumb-body a {
			@apply underline;
		}

		.breadcrumb-body span {
			font-weight: 300;
		}

		.breadcrumb-body .arrow-point {
			@apply inline-block;
			width: 10px;
			height: 10px;
			border-top: 3px solid black;
			border-right: 3px solid black;
			transform: rotate(45deg);
		}
	}
}

.infor {
    span {
        font-weight: 300;
    }
}

.donate {
    @apply py-24 px-56 bg-lime-200 flex justify-between items-center;

    h1 {
        @apply text-3xl text-lime-800;
    }

    a {
        @apply py-6 px-16 bg-lime-400 rounded-full text-lime-800 text-xl
        hover:bg-[#fde047] duration-200;
    } 
}


.jumbotron {
	@apply container mx-auto relative;

	.jumbotron-adoption-process {
		@apply p-16;

		h1 {
			@apply text-4xl;
		}

		p {
			font-weight: 300;
		}
	}

	.adopt-condition {
		@apply p-16;

		.adopt-condition-body {
			@apply bg-lime-100 p-4 rounded-xl;
		}

		h1 {
			@apply text-2xl;
		}

		p {
			font-weight: 300;
			font: bold;
		}
	}
}