<section class="bg-gray-50 bg-signup">
	<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
		<div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
			<a
				href="#"
				class="flex justify-center items-center mb-6 pt-5 text-2xl font-semibold text-lime-500"
			>
				<img class="w-8 h-8 mr-2" src="/assets/logo.png" alt="logo" />
				Adopt Pet
			</a>

			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1
					class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
				>
					Đăng ký tài khoản mới
				</h1>
				<form [formGroup]="signupForm" class="space-y-4 md:space-y-6" action="#">
					<div class="grid grid-cols-2 gap-2">
						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900">Họ</label>
							<input
								formControlName="lastName"
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
								placeholder="Nguyễn Văn"
								required=""
							/>
							@if(submitted === true && signupForm.hasError('required','lastName')) {
							<small class="text-red-500">Họ không được để trống</small>
							}
						</div>

						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900">Tên</label>
							<input
								formControlName="firstName"
								placeholder="A"
								class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
								required=""
							/>

							@if(submitted === true && signupForm.hasError('required','firstName')) {
							<small class="text-red-500">Tên không được để trống</small>
							}
						</div>
					</div>

					<div class="grid grid-cols-2 gap-2">
						<div>
							<label for="email" class="block mb-2 text-sm font-medium text-gray-900"
								>Email</label
							>
							<input
								formControlName="email"
								type="email"
								class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
								placeholder="name@company.com"
								required=""
							/>
							@if(submitted === true && signupForm.hasError('required','email')) {
							<small class="text-red-500">Email không được để trống</small>
							} @else if (submitted === true && signupForm.hasError('email','email')) {
							<small class="text-red-500">Email không hợp lệ</small>
							}
						</div>

						<div>
							<label
								for="confirm-password"
								class="block mb-2 text-sm font-medium text-gray-900"
								>Số điện thoại</label
							>
							<input
								formControlName="phone"
								type="tel"
								name="confirm-password"
								id="confirm-password"
								placeholder="0123456789"
								class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
								required=""
							/>
                            @if(submitted === true && signupForm.hasError('required','phone')) {
                                <small class="text-red-500">Số điện thoại không được để trống</small>
                            }
						</div>
					</div>

					<div>
						<label for="password" class="block mb-2 text-sm font-medium text-gray-900"
							>Mật khẩu</label
						>
						<input
							formControlName="password"
							type="password"
							name="password"
							id="password"
							placeholder="••••••••"
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
							required=""
						/>
                        @if(submitted === true && signupForm.hasError('required','password')) {
                            <small class="text-red-500">Mật khẩu không được để trống</small>
                        }
					</div>
					<div>
						<label
							for="confirm-password"
							class="block mb-2 text-sm font-medium text-gray-900"
							>Nhập lại mật khẩu</label
						>
						<input
							formControlName="confirmPassword"
							type="password"
							placeholder="••••••••"
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
							required=""
						/>
                        @if(submitted === true && signupForm.hasError('required','confirmPassword')) {
                            <small class="text-red-500">Hãy nhập lại mật khẩu</small>
                        }
					</div>

					<!-- <div class="flex items-start">
                        <div class="flex items-center h-5">
                          <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required="">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="terms" class="font-light text-gray-500">I accept the <a class="font-medium text-primary-600 hover:underline " href="#">Terms and Conditions</a></label>
                        </div>
                    </div> -->
					<button (click)="onSubmit()" class="btn-primary">Đăng ký</button>

					<p class="text-sm font-light text-gray-500">
						Bạn đã có tài khoản?
						<a
							routerLink="/sign-in"
							class="font-medium hover:underline hover:bg-lime-700 duration-100"
							>Đăng nhập</a
						>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>
