<nav class="backdrop-filter backdrop-blur-xl border-b border-slate-900/5 z-10 relative mb-2">
	<div class="px-2 mx-auto max-w-screen-2xl sm:px-4 lg:px-8">
		<div class="flex justify-between h-16 md:h-18">

			<div class="flex px-2 lg:px-0">

				<div class="flex items-center flex-shrink-0">
					<a routerLink="#" class="pt-5 flex justify-center items-center mb-6 text-2xl font-semibold text-lime-500">
						<img class="w-8 h-8 mr-2" src="/assets/logo.png" alt="logo" />
						Adopt Pet
					</a>

				</div>

				<!-- nav -->
				<div class="hidden lg:ml-6 xl:ml-8 lg:flex lg:space-x-8" data-turbo="false">
					<!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
					<a
						class="menu-item"
						routerLink="/adopt-pet"
						routerLinkActive="actived" [routerLinkActiveOptions]="{exact: true}"
						>Trang chủ</a
					>

					<a
						class="menu-item"
						routerLink="/adopt-pet/adopt"
						routerLinkActive="actived" [routerLinkActiveOptions]="{exact: true}"
						>Nhận nuôi</a
					>

					<a
						class="menu-item"
						routerLink="/adopt-pet/donate"
						routerLinkActive="actived" [routerLinkActiveOptions]="{exact: true}"
						>Ủng hộ</a
					>

					<!-- <a
						class="menu-item"
						routerLink="/adopt-pet/news"
						routerLinkActive="actived" [routerLinkActiveOptions]="{exact: true}"
						>Tin tức</a
					> -->

					<a
						class="menu-item"
						routerLink="/adopt-pet/volunteer"
						routerLinkActive="actived" [routerLinkActiveOptions]="{exact: true}"
						>Tình nguyện viên</a
					>

					<a
						class="menu-item"
						routerLink="/adopt-pet/contact"
						routerLinkActive="actived" [routerLinkActiveOptions]="{exact: true}"
						>Liên hệ</a
					>
				</div>
			</div>

			

			@if(userStore.loggedIn() === true) {
				<!-- profile button -->
				<div class="flex items-center justify-end flex-1 px-2 sm:justify-center lg:ml-6 lg:justify-end">
								
					<!-- profile -->
					<a routerLink="/profile" class="pt-5 flex justify-center items-center mb-6 text-md font-semibold text-lime-500">
						<img class="w-7 h-7 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="/assets/logo.png" alt="Bordered avatar">
						<span class="ml-2"> {{userStore.firstName()}} {{userStore.lastName()}}</span>
					</a>

				</div>
			} @else { 
				<div class="flex items-center justify-end flex-1 px-2 sm:justify-center lg:ml-6 lg:justify-end">
					<a routerLink="/sign-in" class="pt-5 flex justify-center items-center mb-6 text-md font-semibold text-lime-500">
						<i class="fa-solid fa-right-to-bracket text-xl"></i>
						<span class="ml-2">Đăng nhập</span>
					</a>

				</div>
			}
		</div>
	</div>
</nav>
