<div class="wrapper">
	<div class="action-menu">
		<div class="search">
			<input type="text" placeholder="Họ tên" />
			<button><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>
	</div>

	<div class="body">
		<div class="flex flex-col">
			<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
				<div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
					<div class="overflow-hidden">
						<table class="min-w-full text-left text-sm font-light text-surface">
							<thead class="border-b border-neutral-200 font-medium">
								<tr>
									<th scope="col" class="px-6 py-4">#</th>
									<th scope="col" class="px-6 py-4">Người chỉnh sửa</th>
									<th scope="col" class="px-6 py-4">Ngày bắt đầu</th>
									<th scope="col" class="px-6 py-4">Địa điểm</th>
									<th scope="col" class="px-6 py-4">Trạng thái cũ</th>
									<th scope="col" class="px-6 py-4">Trạng thái mới</th>
									<th scope="col" class="px-6 py-4">Ngày thay đổi</th>
									<th scope="col" class="px-6 py-4">
									</th>
								</tr>
							</thead>

							<tbody>
								<tr class="border-b border-neutral-200">
									<td class="whitespace-nowrap px-6 py-4 font-medium">1</td>
									<td class="whitespace-nowrap px-6 py-4">Mark</td>
									<td class="whitespace-nowrap px-6 py-4">Otto</td>
									<td class="whitespace-nowrap px-6 py-4">mdo</td>
									<td class="whitespace-nowrap px-6 py-4">Chưa</td>
									<td class="whitespace-nowrap px-6 py-4">Người dùng</td>
									<td class="whitespace-nowrap px-6 py-4">Người dùng</td>
									<!-- <td class="whitespace-nowrap px-6 py-4">
										<button>
											<i class="fa-solid fa-lock text-yellow-500"></i>
										</button>
									</td> -->
								</tr>
								<tr class="border-b border-neutral-200">
									<td class="whitespace-nowrap px-6 py-4 font-medium">2</td>
									<td class="whitespace-nowrap px-6 py-4">Jacob</td>
									<td class="whitespace-nowrap px-6 py-4">Thornton</td>
									<td class="whitespace-nowrap px-6 py-4">fat</td>
									<td class="whitespace-nowrap px-6 py-4">Chưa</td>
									<td class="whitespace-nowrap px-6 py-4">Người dùng</td>
									<td class="whitespace-nowrap px-6 py-4">Admin</td>
									<!-- <td class="whitespace-nowrap px-6 py-4">
										<button>
											<i class="fa-solid fa-lock text-yellow-500"></i>
										</button>
									</td> -->
								</tr>
								<tr class="border-b border-neutral-200">
									<td class="whitespace-nowrap px-6 py-4 font-medium">3</td>
									<td class="whitespace-nowrap px-6 py-4">Larry</td>
									<td class="whitespace-nowrap px-6 py-4">Wild</td>
									<td class="whitespace-nowrap px-6 py-4">twitter</td>
									<td class="whitespace-nowrap px-6 py-4">Chưa</td>
									<td class="whitespace-nowrap px-6 py-4">Người dùng</td>
									<td class="whitespace-nowrap px-6 py-4">Người dùng</td>
									<!-- <td class="whitespace-nowrap px-6 py-4">
										<button>
											<i class="fa-solid fa-lock text-yellow-500"></i>
										</button>
									</td> -->
								</tr>
							</tbody>
						</table>

						<!-- pagination -->
						<div class="pagination py-5">
							<nav aria-label="Page navigation example mx-auto">
								<ul class="list-style-none mb-6 flex">
									<li>
										<button
										(click)="previousPage()"
											class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:outline-none active:bg-neutral-100"
											>Previous</button
										>
									</li>

				

									<li aria-current="page">
										<span
											class="relative block rounded bg-success-100 px-3 py-1.5 text-sm font-medium text-success-700 transition duration-300 focus:outline-none dark:bg-green-950 dark:text-success-500"
											>{{pageNumber}}
											<span
												class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)]"
												>(current)</span
											>
										</span>
									</li>

									<li>
										<button
											(click)="nextPage()"
											class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:outline-none active:bg-neutral-100"
											>Next</button
										>
									</li>
								</ul>
							</nav>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
