<div class="wrapper">
	<div class="action-menu">
		<div class="search">
			<input type="text" placeholder="Họ tên" />
			<button class="ml-2"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>

		<a routerLink="/admin/add-volunteer" class="block search ml-2 bg-lime-400 text-white hover:bg-lime-700 duration-150">
			<button class="">Thêm tình nguyện viên <i class="fa-solid fa-plus"></i></button>
		</a>
	</div>

	<div class="grid grid-cols-1">
		<div class="flex flex-col">
			<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
				<div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
					<div class="overflow-hidden">
						<table class="min-w-full text-left text-sm font-light text-surface">
							<thead class="border-b border-neutral-200 font-medium">
								<tr>
									<th scope="col" class="px-6 py-4">#</th>
									<th scope="col" class="px-6 py-4">Ngày bắt đầu</th>
									<th scope="col" class="px-6 py-4">Địa chỉ</th>
									<th scope="col" class="px-6 py-4">Vai trò</th>
									<th scope="col" class="px-6 py-4">Tác vụ</th>
								</tr>
							</thead>

							<tbody>
								@for (v of volunteers; track $index) {
									<tr class="border-b border-neutral-200">
										<td class="whitespace-nowrap px-6 py-4 font-medium">{{$index + 1}}</td>
										<td class="whitespace-nowrap px-6 py-4 font-medium">{{v.dateStart | date:'dd/MM/yyyy'}}</td>
										<td class="whitespace-nowrap px-6 py-4 font-medium">
											<p>{{v.location.street}} {{v.location.wards}} {{v.location.provinceCity}} {{v.location.districtCity}}</p>
										</td>
										<td class="whitespace-nowrap px-6 py-4 font-medium">
											@for (role of v.roles; track $index) {
												<p class="text-wrap">Vai trò: {{role.name}}</p>
												<p class="text-wrap font-thin">Vai trò: {{role.description}}</p>
											}
										</td>

										<td class="whitespace-nowrap px-6 py-4">
											@if(v.isDeleted === true) {
												<button (click)="softDelete(v)" title="xóa">
													<i class="fa-solid fa-unlock text-green-500"></i>
												</button>
											} @else {
												<button (click)="softDelete(v)" title="xóa">
													<i class="fa-solid fa-lock text-yellow-500"></i>
												</button>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>

						<!-- pagination -->
						<div class="pagination py-5">
							<nav aria-label="Page navigation example mx-auto">
								<ul class="list-style-none mb-6 flex">
									<li>
										<button
											(click)="onPrevPage()"
											class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:outline-none active:bg-neutral-100"
											>Previous</button
										>
									</li>

									<li aria-current="page">
										<a
											class="relative block rounded bg-success-100 px-3 py-1.5 text-sm font-medium text-success-700 transition duration-300 focus:outline-none dark:bg-green-950 dark:text-success-500"
											>{{pageNumber}}
											<span
												class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)]"
												>(current)</span
											>
										</a>
									</li>

									<li>
										<button
											(click)="onNextPage()"
											class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:outline-none active:bg-neutral-100"
											>Next</button
										>
									</li>
								</ul>
							</nav>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
