<footer class="bg-white text-lime-500" aria-labelledby="footerHeading">
	<h2 id="footerHeading" class="sr-only">Footer</h2>
	<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
		<div class="mt-8 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between">
			<div class="flex space-x-6 md:order-2">
				<a
					href="https://twitter.com/tailwindawesome"
					class="flex items-center space-x-2 text-cool-indigo-600 hover:text-cool-indigo-500 transition-colors duration-75 font-semibold"
				>
					<img src="/assets/svgs/school.svg" alt="">
					<p>Công nghệ thông tin K62</p>
				</a>
			</div>
			<p class="mt-8 text-base md:mt-0 md:order-1">
				© {{date.getFullYear()}} UTC2
			</p>
		</div>
	</div>
</footer>
