<div class="wrapper">
	<div class="container-fluid">
		<!-- search -->
		<div class="search">
			<div class="search-section">
				<div class="choose-type">
					<button (click)="onShowType()">
						{{ petType }}s <i class="fa-solid fa-angle-down"></i>
					</button>

					@if (isShownTypes === true) {
					<div class="pet-types">
						<ul>
							@for (type of types; track $index) {
							<li (click)="onChooseType(type)" class="type-item">{{ type }}s</li>
							}
						</ul>
					</div>
					}
				</div>

				<div class="distance">
					<button (click)="onShowMile()">
						{{ mile }} miles <i class="fa-solid fa-angle-down"></i>
					</button>

					@if (isShownMiles === true) {
					<div class="miles">
						<ul>
							@for (mile of miles; track $index) { @if (mile === 'Any') {
							<li (click)="onChooseMile('')" class="mile-item">{{ mile }} miles</li>
							} @else {
							<li (click)="onChooseMile(mile)" class="mile-item">{{ mile }} miles</li>
							} }
						</ul>
					</div>
					}
				</div>

				<!-- <div class="city-name">
					<input
						[(ngModel)]="location"
						name="cityName"
						type="text"
						placeholder="Enter city"
					/>
				</div> -->

				<div class="search-btn">
					<button (click)="onSearch()">Search</button>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="sidebar">
				<div class="breed">
					<span>BREED</span>
					<select [(ngModel)]="breed" name="breed">
						@for (item of breeds; track $index) { @if(item === 'Any') {
						<option class="bg-white" value="">{{ item }}</option>
						} @else {
						<option class="bg-white" value="{{ item }}">{{ item }}</option>
						} }
					</select>
				</div>

				<div class="age">
					<span>AGE</span>
					<select>
						@for (item of ages; track $index) { @if(item === 'Any') {
						<option class="bg-white" value="">{{ item }}</option>
						} @else {
						<option class="bg-white" value="{{ item }}">{{ item }}</option>
						} }
					</select>
				</div>

				<div class="size">
					<span>SIZE</span>
					<select>
						@for (item of sizes; track $index) { @if(item === 'Any') {
						<option class="bg-white" value="">{{ item }}</option>
						} @else {
						<option class="bg-white" value="{{ item }}">{{ item }}</option>
						} }
					</select>
				</div>

				<div class="gender">
					<span>GENDER</span>
					<select>
						@for (item of genders; track $index) { @if(item === 'Any') {
						<option class="bg-white" value="">{{ item }}</option>
						} @else {
						<option class="bg-white" value="{{ item }}">{{ item }}</option>
						} }
					</select>
				</div>

				<div class="color">
					<span>COLOR</span>
					<select>
						@for (item of colors; track $index) { @if(item === 'Any') {
						<option class="bg-white" value="">{{ item }}</option>
						} @else {
						<option class="bg-white" value="{{ item }}">{{ item }}</option>
						} }
					</select>
				</div>
			</div>

			<div class="pets-container">dăd</div>
		</div>
	</div>
</div>
