<div class="wrapper">
	<!-- banner -->
	<div class="banner">
		<div class="banner-content">
			<h1>Tình Nguyện Viên</h1>
			<div class="breadcrumb">
				<div class="breadcrumb-body">
					<a routerLink="/adopt-pet">Trang Chủ</a>
					<span class="arrow-point"></span>
					<span>Tình Nguyện Viên</span>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="grid grid-cols-6">
			<div class="col-span-4">
				<div class="jumbotron-adoption-process">
					<h1>Giới Thiệu Tình Nguyện Viên Cứu Hộ Chó Mèo</h1>
					<br />
					<p>
						Hoạt động cứu hộ của Hanoi Pet Adoption chỉ có thể thành công nhờ sự chung
						sức từ cộng đồng và các Tình nguyện viên. Có nhiều cách để bạn đóng góp phần
						của mình để thay đổi cuộc sống của một chú chó hay mèo: trở thành Người chăm
						sóc tạm thời (Foster), Tình nguyện tại nhà chung hay Tình nguyện viên cứu
						hộ. Hãy tham khảo thêm thông tin bên dưới.
					</p>
				</div>
			</div>

			<div class="col-span-2">
				<div class="adopt-condition">
					<div class="adopt-condition-body">
						<img src="/assets/volunteer/volunteer-sample.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- thong tin tinh nguyen vien -->
	<div class="volunteer">
		<div class="container mx-auto">
			<div class="volunteer-title">
				<h1>THÔNG TIN TÌNH NGUYỆN VIÊN</h1>
				<img src="/assets/leg-icon-512.png" alt="" class="mx-auto w-10" />
			</div>

			<div class="volunteer-list">
				<!-- style 1 -->
				<div class="volunteer-info">
					<h1 class="name">Nguyễn Phạm Phú Huy</h1>
					<div class="grid grid-cols-3 gap-5">
						<div class="col-span-1">
							<div class="avatar">
								<img
									src="https://www.hanoipetadoption.com/admin/user-content/Volunteer/220885ad-73cd-4f2f-96e4-df481fb11400.jpg"
									alt=""
								/>
							</div>
						</div>

						<div class="col-span-2">
							<div class="content">
								<p>
									Phú Huy là người giúp nhóm chăm sóc tạm thời trong thời gian các
									bé chưa tìm được chủ. Đây có thể là các bé khỏe mạnh hoặc cần
									chăm sóc đặc biệt hơn. Nếu bạn không thể nhận nuôi, hãy mở cửa
									để cho các bé một mái ấm tạm thời, giúp các bé khỏe mạnh hơn,
									ngoan ngoãn hơn cũng như tận hưởng tình thương từ một người yêu
									động vật, đồng thời giúp chúng tôi giảm tải khối lượng công
									việc.
								</p>
								<br /><br />

								<div class="responsibility">
									<img src="/assets/pink-cat-foot.png" alt="" class="inline" />
									Người nhận nuôi tạm thời (Phú Huy) chịu trách nhiệm cung cấp nơi
									ở, thức ăn, nước uống, các vật dụng cần thiết và tình thương cho
									bé. <br /><br />

									<img src="/assets/pink-cat-foot.png" alt="" class="inline" />
									Trong trường hợp cần thiết, Phú Huy đảm nhận việc theo dõi quá
									trình chữa trị cho bé, đảm bảo chế độ ăn theo yêu cầu và giúp
									huấn luyện bé. Mọi chi phí y tế sẽ do Hanoi Pet Adoption chi
									trả. Foster có thể đóng góp vào chi phí này nhưng không bắt
									buộc. <br /><br />

									<img src="/assets/pink-cat-foot.png" alt="" class="inline" />
									Phú Huy cần thông báo ngay cho người phụ trách bé nếu có bất cứ
									phát sinh gì xảy ra: ốm đau, biểu hiện lạ, hành vi khác thường
									v.v... <br /><br />

									<img src="/assets/pink-cat-foot.png" alt="" class="inline" />
									Không tự ý chuyển động vật mà tôi nhận chăm sóc tạm thời sang
									người khác chăm sóc hoặc nhận nuôi nếu không có sự đồng ý từ
									nhóm HPA.
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- style 2 -->
				<div class="volunteer-info">
					<h1 class="name">Võ Thị Tường Vi</h1>
					<div class="grid grid-cols-3 gap-5">
						<div class="col-span-2">
							<div class="content">
								<p>
									Tường Vi là người giúp nhóm chăm sóc tạm thời trong thời gian
									các bé chưa tìm được chủ. Đây có thể là các bé khỏe mạnh hoặc
									cần chăm sóc đặc biệt hơn. Nếu bạn không thể nhận nuôi, hãy mở
									cửa để cho các bé một mái ấm tạm thời, giúp các bé khỏe mạnh
									hơn, ngoan ngoãn hơn cũng như tận hưởng tình thương từ một người
									yêu động vật, đồng thời giúp chúng tôi giảm tải khối lượng công
									việc.
								</p>
								<br /><br />

								<div class="responsibility">
									<img src="/assets/pink-cat-foot.png" alt="" class="inline" />
									Người nhận nuôi tạm thời (Tường Vi) chịu trách nhiệm cung cấp
									nơi ở, thức ăn, nước uống, các vật dụng cần thiết và tình thương
									cho bé. <br /><br />

									<img src="/assets/pink-cat-foot.png" alt="" class="inline" />
									Trong trường hợp cần thiết, Tường Vi đảm nhận việc theo dõi quá
									trình chữa trị cho bé, đảm bảo chế độ ăn theo yêu cầu và giúp
									huấn luyện bé. Mọi chi phí y tế sẽ do Hanoi Pet Adoption chi
									trả. Foster có thể đóng góp vào chi phí này nhưng không bắt
									buộc. <br /><br />

									<img src="/assets/pink-cat-foot.png" alt="" class="inline" />
									Tường Vi cần thông báo ngay cho người phụ trách bé nếu có bất cứ
									phát sinh gì xảy ra: ốm đau, biểu hiện lạ, hành vi khác thường
									v.v... <br /><br />

									<img src="/assets/pink-cat-foot.png" alt="" class="inline" />
									Không tự ý chuyển động vật mà tôi nhận chăm sóc tạm thời sang
									người khác chăm sóc hoặc nhận nuôi nếu không có sự đồng ý từ
									nhóm HPA.
								</div>
							</div>
						</div>

						<div class="col-span-1">
							<div class="avatar">
								<img
									src="https://www.hanoipetadoption.com/admin/user-content/Volunteer/220885ad-73cd-4f2f-96e4-df481fb11400.jpg"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</div>

            <!-- ban muon tham gia -->
            <div class="join">
                <h1>bạn muốn tham gia</h1>

                <p>Tham gia tình nguyện cho Hanoi Pet Adoption, bạn đang góp phần thay đổi số phận của những bé chó mèo bị bỏ rơi hay bạo hành. Bên cạnh đó, bạn còn có cơ hội tìm hiểu thêm...</p>

                <a routerLink="/" class="btn-primary">Tham gia ngay</a>
            </div>


		</div>
	</div>

        <!-- be ngoan trong tuan -->
        <div class="animal">

            <div class="animal-title">
                <h1>Bé ngoan dễ thương</h1>
                <img src="/assets/leg-icon.png" alt="">
            </div>
    
            <div class="animal-list">
    
                <a class="animal-item">
                    <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/c1dffd23-4123-4146-8cb4-45960705cafd.jpeg" alt="">
    
                    <h1 class="name-item">Akira</h1>
                    <p>Giới tính: <span>Đực</span></p>
                    <p>Tuổi: <span>trẻ</span></p>
                    <p>Tiêm phòng: <span>chưa rõ</span></p>
                </a>
    
                <a class="animal-item">
                    <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/811c9cb6-0866-4640-a83c-43b17aedec39.jpg" alt="">
                    <h1 class="name-item">Aki</h1>
                    <p>Giới tính: <span>Cái</span></p>
                    <p>Tuổi: <span>trẻ</span></p>
                    <p>Tiêm phòng: <span>Có</span></p>
                </a>
    
                <a class="animal-item">
                    <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/204adf79-e01f-4fd2-930b-761a3721d019.jpeg" alt="">
                    <h1 class="name-item">Poppy</h1>
                    <p>Giới tính: <span>Đực</span></p>
                    <p>Tuổi: <span>Trưởng thành</span></p>
                    <p>Tiêm phòng: <span>Chưa rõ</span></p>
                </a>
    
                <a class="animal-item">
                    <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/f1250d40-13d0-4ef8-90a4-703cf4d1a670.jpeg" alt="">
                    <h1 class="name-item">Sữa</h1>
                    <p>Giới tính: <span>Cái</span></p>
                    <p>Tuổi: <span>trẻ</span></p>
                    <p>Tiêm phòng: <span>Có</span></p>
                </a>
    
            </div>
    
            <a class="btn-primary" routerLink="/adopt-pet/adopt">
                Nhận nuôi
            </a>
    
        </div>
</div>
