<div class="wrapper">

    <!-- carousel -->
    <div id="carouselExampleCaptions" class="relative" data-twe-carousel-init data-twe-ride="carousel">
        <!--Carousel indicators-->
        <div
            class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
            data-twe-carousel-indicators
        >
            <button
                type="button"
                data-twe-target="#carouselExampleCaptions"
                data-twe-slide-to="0"
                data-twe-carousel-active
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
            <button
                type="button"
                data-twe-target="#carouselExampleCaptions"
                data-twe-slide-to="1"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 2"
            ></button>
            <button
                type="button"
                data-twe-target="#carouselExampleCaptions"
                data-twe-slide-to="2"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 3"
            ></button>
            <button
                type="button"
                data-twe-target="#carouselExampleCaptions"
                data-twe-slide-to="3"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 3"
            ></button>
            <button
                type="button"
                data-twe-target="#carouselExampleCaptions"
                data-twe-slide-to="4"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 3"
            ></button>
            <button
                type="button"
                data-twe-target="#carouselExampleCaptions"
                data-twe-slide-to="5"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 3"
            ></button>
        </div>
    
        <!--Carousel items-->
        <div class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
            <!--First item-->
            <div
                class=" relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-twe-carousel-active
                data-twe-carousel-item
                style="backface-visibility: hidden"
            >
                <img src="/assets/bg-home/bg-home-1.jpeg" class="block  mx-auto " alt="..." />
                <div
                    class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block"
                >
                    <h5 class="text-xl">Niềm Vui Gia Đình</h5>
                    <p>Thú cưng mang lại niềm vui và hạnh phúc cho gia đình, tạo ra mối liên kết đặc biệt và tình cảm chân thành giữa con người và động vật.</p>
                </div>
            </div>
            <!--Second item-->
            <div
                class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-twe-carousel-item
                style="backface-visibility: hidden"
            >
                <img src="/assets/bg-home/bg-home-2.jpeg" class="block mx-auto " alt="..." />
                <div
                    class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block"
                >
                    <h5 class="text-xl">Hạnh Phúc Hằng Ngày</h5>
                    <p>Chúng giúp giảm căng thẳng và lo lắng, làm tăng sự hạnh phúc và cảm giác bình yên trong cuộc sống hàng ngày.</p>
                </div>
            </div>
            <!--Third item-->
            <div
                class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-twe-carousel-item
                style="backface-visibility: hidden"
            >
                <img src="/assets/bg-home/bg-home-3.jpeg" class="block mx-auto " alt="..." />
                <div
                    class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block"
                >
                    <h5 class="text-xl">Sự Đồng Cảm Vô Điều Kiện</h5>
                    <p>Thú cưng cung cấp sự đồng cảm và ủng hộ không điều kiện, giúp chủ nhân cảm thấy không bao giờ cô đơn.</p>
                </div>
            </div>
    
            <div
                class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-twe-carousel-item
                style="backface-visibility: hidden"
            >
                <img src="/assets/bg-home/bg-home-4.jpeg" class="block mx-auto " alt="..." />
                <div
                    class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block"
                >
                    <h5 class="text-xl">Sức Khỏe Tinh Thần</h5>
                    <p>Việc chăm sóc thú cưng giúp cải thiện sức khỏe vật lý và tinh thần của con người, bao gồm cả việc tăng cường khả năng vận động và giảm căng thẳng.</p>
                </div>
            </div>
    
            <div
                class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-twe-carousel-item
                style="backface-visibility: hidden"
            >
                <img src="/assets/bg-home/bg-home-5.jpeg" class="block mx-auto " alt="..." />
                <div
                    class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block"
                >
                    <h5 class="text-xl">Trách Nhiệm và Tự Giác</h5>
                    <p>Chúng làm tăng sự trách nhiệm và tự giác, khiến con người học cách quan tâm và đảm nhận trách nhiệm với một sinh vật khác.</p>
                </div>
            </div>
    
            <div
                class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-twe-carousel-item
                style="backface-visibility: hidden"
            >
                <img src="/assets/bg-home/bg-home-6.jpeg" class="block mx-auto " alt="..." />
                <div
                    class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block"
                >
                    <h5 class="text-xl">Kích Thích Sáng Tạo</h5>
                    <p>Thú cưng có thể kích thích sự sáng tạo và tạo ra niềm đam mê mới trong cuộc sống của con người, thông qua việc thúc đẩy hoạt động ngoại khoá và khám phá.</p>
                </div>
            </div>
        </div>
    
        <!--Carousel controls - prev item-->
        <button
            class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button"
            data-twe-target="#carouselExampleCaptions"
            data-twe-slide="prev"
        >
            <span class="inline-block h-8 w-8">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 19.5L8.25 12l7.5-7.5"
                    />
                </svg>
            </span>
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                >Previous</span
            >
        </button>
        <!--Carousel controls - next item-->
        <button
            class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button"
            data-twe-target="#carouselExampleCaptions"
            data-twe-slide="next"
        >
            <span class="inline-block h-8 w-8">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                    />
                </svg>
            </span>
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                >Next</span
            >
        </button>
    </div>

    <!-- about -->
    <div class="about">
        <p class="about-title">Nhận Nuôi Thú Cưng - Pet Adoption</p>

        <p class="about-body">Chúng tôi là một nhóm trẻ gồm tình nguyện viên Việt Nam và một số bạn nước ngoài, cùng hoạt động vì tình yêu chó mèo. Tôn chỉ hoạt động của chúng tôi là không từ bỏ nỗ lực với bất kỳ con vật nào, dù bé có ốm yếu hay tàn tật tới đâu, bởi mỗi thú cưng đều cần có cơ hội hi vọng vào một tương lai tốt đẹp. Chúng tôi cố gắng chăm sóc tốt nhất có thể, phần nào bù đắp lại những tổn thương cho các bé được cứu hộ về dù là hoang, lạc, bị bỏ rơi hay bạo hành. Ngoài ra, chúng tôi cũng luôn nỗ lực tìm mái ấm yêu thương các bé trọn đời. Và cuối cùng, chúng tôi giúp nâng cao nhận thức về trách nhiệm của chủ nuôi thông qua mạng xã hội và các hoạt động thiện nguyện.</p>
        <br>
        <p class="about-body">Là một trong những trạm cứu hộ thú cưng ít ỏi tại Hà Nội, hoạt động từ năm 2015 đến nay, Nhóm đã góp phần cứu giúp trên 4,000 ca chó mèo bị bỏ rơi, hoang lạc, bị bạo hành, đồng thời tìm mái ấm mới cho hàng trăm bé.</p>
    </div>

    <!-- khoi thong tin -->

    <div class="info-block">

        <div class="info-item">
            <div class="block-content">
                <img class="" src="https://www.hanoipetadoption.com/admin/user-content/03fc601a-a150-4d55-b051-15d6d3ced88e.jpg" alt="">

                <h1>Ủng hộ</h1>
                <p>Giúp duy trì hoạt động của HPA qua hình thức quyên góp tiền hoặc nhu yếu phẩm.</p>
            </div>

            <a routerLink="/adopt-pet/donate" class="btn-primary block-btn">
                Tìm hiểu thêm
            </a>
        </div>

        <div class="info-item">
            <div class="block-content">
                <img class="" src="https://www.hanoipetadoption.com/admin/user-content/eed6fd79-339e-4976-9e0b-1b353aacb99f.jpeg" alt="">

                <h1>Tình nguyện</h1>
                <p>Hành động để thay đổi cuộc sống của chó, mèo và thú cưng khác.</p>
            </div>

            <a routerLink="/adopt-pet/volunteer" class="btn-primary block-btn">
                Tìm hiểu thêm
            </a>

        </div>
        
        <div class="info-item">
            <div class="block-content">
                <img class="" src="https://www.hanoipetadoption.com/admin/user-content/0f8ff594-db60-4a7c-bfc6-b0579737602e.jpg" alt="">

                <h1>Nhận nuôi</h1>
                <p>Hãy nhận nuôi, cưu mang, đừng xua đuổi và yêu thương loài động vật bị bỏ rơi.</p>
            </div>

            <a routerLink="/adopt-pet/adopt" class="btn-primary block-btn">
                Tìm hiểu thêm
            </a>
        </div>
        
    </div>

    <!-- be ngoan trong tuan -->
    <div class="animal">

        <div class="animal-title">
            <h1>Bé ngoan dễ thương</h1>
            <img src="/assets/leg-icon.png" alt="">
        </div>

        <div class="animal-list">

            <a class="animal-item">
                <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/c1dffd23-4123-4146-8cb4-45960705cafd.jpeg" alt="">

                <h1 class="name-item">Akira</h1>
                <p>Giới tính: <span>Đực</span></p>
                <p>Tuổi: <span>trẻ</span></p>
                <p>Tiêm phòng: <span>chưa rõ</span></p>
            </a>

            <a class="animal-item">
                <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/811c9cb6-0866-4640-a83c-43b17aedec39.jpg" alt="">
                <h1 class="name-item">Aki</h1>
                <p>Giới tính: <span>Cái</span></p>
                <p>Tuổi: <span>trẻ</span></p>
                <p>Tiêm phòng: <span>Có</span></p>
            </a>

            <a class="animal-item">
                <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/204adf79-e01f-4fd2-930b-761a3721d019.jpeg" alt="">
                <h1 class="name-item">Poppy</h1>
                <p>Giới tính: <span>Đực</span></p>
                <p>Tuổi: <span>Trưởng thành</span></p>
                <p>Tiêm phòng: <span>Chưa rõ</span></p>
            </a>

            <a class="animal-item">
                <img src="https://www.hanoipetadoption.com/admin/user-content/Animal/f1250d40-13d0-4ef8-90a4-703cf4d1a670.jpeg" alt="">
                <h1 class="name-item">Sữa</h1>
                <p>Giới tính: <span>Cái</span></p>
                <p>Tuổi: <span>trẻ</span></p>
                <p>Tiêm phòng: <span>Có</span></p>
            </a>

        </div>

        <a class="btn-primary" routerLink="/adopt-pet/adopt">
            Nhận nuôi
        </a>

    </div>

    <!-- tin tuc -->

    <!-- nha tai tro -->
    <div class="donor">

        <h1 class="donor-header">
            Nhà tài trợ
        </h1>

        <div class="donor-list">

            <div class="donor-item">
                <img src="/assets/leg-icon-512.png" alt="">

                <h1 class="donor-name">
                    Me-0 Việt Name   
                </h1>
            </div>

            <div class="donor-item">
                <img src="/assets/leg-icon-512.png" alt="">

                <h1 class="donor-name">
                    Smartheart Việt Name
                </h1>
            </div>

            <div class="donor-item">
                <img src="/assets/leg-icon-512.png" alt="">

                <h1 class="donor-name">
                    Better world
                </h1>
            </div>

            <div class="donor-item">
                <img src="/assets/leg-icon-512.png" alt="">

                <h1 class="donor-name">
                    Thầy Jim
                </h1>
            </div>


        </div>

        <a class="btn-primary" routerLink="/">
            Xem thêm
        </a>

    </div>

    <!-- ban da san san giup do -->

    <div class="donate">
        <h1>Bạn đã sẵn sàng giúp đỡ?</h1>

        <a routerLink="">Ủng hộ ngay</a>
    </div>
    
</div>
