<!-- start sidebar -->

<div
	id="sideBar"
	class="relative flex flex-col flex-wrap border-r border-gray-300 p-6 flex-none w-64 animated faster"
>
	<!-- sidebar content -->
	<div class="flex flex-col">
		<!-- sidebar toggle -->
		<!-- <div class="text-right hidden md:block mb-4">
			<button id="sideBarHideBtn">
				<i class="fas fa-times-circle"></i>
			</button>
		</div> -->
		<!-- end sidebar toggle -->

		<!-- users and volunteers -->
		<p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">User Manager</p>

		<a routerLink="/admin/user-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
		 	class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Users
		</a>

		<a routerLink="/admin/role-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Roles
		</a>

		<!-- volunteer -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Volunteer Manager</p>

		<a routerLink="/admin/volunteer-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Volunteers
		</a>

		<a routerLink="/admin/volunteer-role" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Volunteer Roles 
		</a>

		<a routerLink="/admin/volu" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Volunteer Audits 
		</a>

		<!-- pet -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Pets</p>

		<a routerLink="./email.html" 
		routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
		class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fas fa-envelope-open-text text-xs mr-2"></i>
			Pet Manager
		</a>

		<a routerLink="./email.html"
		routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
		class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fas fa-envelope-open-text text-xs mr-2"></i>
			Breeds
		</a>

		<a routerLink="./email.html" 
		routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
		class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fas fa-envelope-open-text text-xs mr-2"></i>
			Colors
		</a>

		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Donors</p>

		<a routerLink="./email.html" 
		routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
		class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fas fa-envelope-open-text text-xs mr-2"></i>
			Donor Manager
		</a>

		<a routerLink="./email.html" 
		routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
		class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fas fa-envelope-open-text text-xs mr-2"></i>
			Colors
		</a>

		<!-- end link -->

		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">UI Elements</p>

		<!-- link -->
		<a
		routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
		routerLink="./typography.html"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
		>
			<i class="fa-solid fa-font text-xs mr-2"></i>
			typography
		</a>
		<!-- end link -->

		<!-- link -->
		<a
		routerLink="#"
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
		>
			<i class="fas fa-box-open text-xs mr-2"></i>
			Content
		</a>
		<!-- end link -->

		<!-- link -->
		<a
		routerLink="#"
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
		>
			<i class="fas fa-swatchbook text-xs mr-2"></i>
			colors
		</a>
		<!-- end link -->
	</div>
	<!-- end sidebar content -->
</div>
<!-- end sidbar -->
