<!-- start sidebar -->

<div
	id="sideBar"
	class="relative flex flex-col flex-wrap border-r border-gray-300 p-6 flex-none w-64 animated faster"
>
	<!-- sidebar content -->
	<div class="flex flex-col">
		<!-- sidebar toggle -->
		<!-- <div class="text-right hidden md:block mb-4">
			<button id="sideBarHideBtn">
				<i class="fas fa-times-circle"></i>
			</button>
		</div> -->
		<!-- end sidebar toggle -->

		<!-- users and volunteers -->
		<p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">User Manager</p>

		<a routerLink="/admin/user-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
		 	class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Users
		</a>

		<a routerLink="/admin/role-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-brands fa-critical-role text-xs mr-2"></i>
			Roles
		</a>

		<!-- volunteer -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Volunteer Manager</p>

		<a routerLink="/admin/volunteer-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Volunteers
		</a>

		<a routerLink="/admin/volunteer-role" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-brands fa-critical-role text-xs mr-2"></i>
			Volunteer Roles 
		</a>

		<a routerLink="/admin/volunteer-audit" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Volunteer Audits 
		</a>

		<!-- pet -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Pets</p>

		<a routerLink="/admin/pet-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-cat text-xs mr-2"></i>
			Pet Manager
		</a>

		<a routerLink="/admin/breed-manager"
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-paw text-xs mr-2"></i>
			Breeds
		</a>

		<a routerLink="/admin/color-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fas fa-envelope-open-text text-xs mr-2"></i>
			Colors
		</a>

		<!-- Donors -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Donors</p>

		<a routerLink="/admin/donor-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fas fa-envelope-open-text text-xs mr-2"></i>
			Donor Manager
		</a>

		<!-- Others -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Others</p>
		<a routerLink="/admin/location-manager"
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
		>
			<i class="fa-solid fa-location-dot text-xs mr-2"></i>
			Location
		</a>
		
	</div>
</div>
