<!-- start sidebar -->

<div
	id="sideBar"
	class="relative flex flex-col flex-wrap border-r border-gray-300 p-6 flex-none w-64 animated faster"
>
	<!-- sidebar content -->
	<div class="flex flex-col">
		<!-- sidebar toggle -->
		<!-- <div class="text-right hidden md:block mb-4">
			<button id="sideBarHideBtn">
				<i class="fas fa-times-circle"></i>
			</button>
		</div> -->
		<!-- end sidebar toggle -->

		<!-- users and volunteers -->
		<p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">Quản lý người dùng</p>

		<a routerLink="/admin/user-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
		 	class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Danh sách người dùng
		</a>

		<a routerLink="/admin/role-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-brands fa-critical-role text-xs mr-2"></i>
			Các vai trò
		</a>

		<!-- volunteer -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Quản lý tình nguyện viên</p>

		<a routerLink="/admin/volunteer-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Danh sách tình nguyện viên
		</a>

		<a routerLink="/admin/volunteer-role" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-brands fa-critical-role text-xs mr-2"></i>
			Vai trò tình nguyện viên 
		</a>

		<!-- pet -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Quản lý thú cưng</p>

		<a routerLink="/admin/pet-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-cat text-xs mr-2"></i>
			Danh sách thú cưng
		</a>

		<a routerLink="/admin/breed-manager"
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-paw text-xs mr-2"></i>
			Danh sách giống
		</a>

		<a routerLink="/admin/color-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fas fa-envelope-open-text text-xs mr-2"></i>
			Màu sắc
		</a>

		<!-- Donors -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Quản lý người tài trợ</p>

		<a routerLink="/admin/donor-manager" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fas fa-envelope-open-text text-xs mr-2"></i>
			Danh sách người tài trợ
		</a>

		<!-- lich sử -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Lịch sử</p>

		<a routerLink="/admin/volunteer-audit" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Tình nguyện viên
		</a>

		<a routerLink="/admin/donor-pet-audit" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Tài trợ
		</a>

		<a routerLink="/admin/pet-audit" 
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" >
			<i class="fa-solid fa-users"></i>
			Thú cưng
		</a>


		<!-- Others -->
		<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Khác</p>
		<a routerLink="/admin/location-manager"
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
			class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
		>
			<i class="fa-solid fa-location-dot text-xs mr-2"></i>
			Vị trí hiện đã lưu
		</a>
		
	</div>
</div>
