<div class="wrapper">
	<div class="action-menu">
		<div class="search">
			<input type="text" placeholder="Tên mùa sắc" />
			<button class="ml-2"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>

		<div class="search ml-2">
			<input type="text" placeholder="Thêm màu" #inputColor />
			<button (click)="onAddColor(inputColor)"><i class="fa-solid fa-plus"></i></button>
		</div>
	</div>

	<div class="pet-section">
		<div class="pet-container">
			<!-- pet list -->
			<div class="pet-list">
				@for (color of colors; track $index) {
				<div class="bg-white border border-gray-200 rounded-lg shadow">
					<div class="p-5">
						<a href="#">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
								{{ color.colourName }}
							</h5>
						</a>

						@if (color.isDeleted === true) {

						<button
							(click)="onDelete(color.id)"
							class="w-full select-none text-center px-3 py-2 text-sm font-medium border rounded-md"
						>
							<i class="fa-solid fa-eye-slash text-red-500"></i>
						</button>
						} @else {
						<button
							(click)="onDelete(color.id)"
							class="w-full select-none text-center px-3 py-2 text-sm font-medium border rounded-md"
						>
							<i class="fa-solid fa-eye text-yellow-500"></i>
						</button>
						}
					</div>
				</div>
				}
			</div>

			<!-- pagination -->
			<div class="pagination py-5">
				<nav aria-label="Page navigation example mx-auto">
					<ul class="list-style-none mb-6 flex">
						<li>
							<button
								(click)="onPrevPage()"
								class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:outline-none active:bg-neutral-100"
							>
								Previous
							</button>
						</li>

						<li aria-current="page">
							<a
								class="relative block rounded bg-success-100 px-3 py-1.5 text-sm font-medium text-success-700 transition duration-300 focus:outline-none dark:bg-green-950 dark:text-success-500"
								>{{pageNumber}}
								<span
									class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)]"
									>(current)</span
								>
							</a>
						</li>

						<li>
							<button
								(click)="onNextPage()"
								class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:outline-none active:bg-neutral-100"
								>Next</button
							>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
