<div class="wrapper">
	<!-- banner -->
	<div class="banner">
		<div class="banner-content">
			<h1>Nhận Nuôi</h1>
			<div class="breadcrumb">
				<div class="breadcrumb-body">
					<a routerLink="/adopt-pet">Trang Chủ</a>
					<span class="arrow-point"></span>
					<span>Nhận Nuôi</span>
				</div>
			</div>
		</div>
	</div>

	<!-- quy trinh nhan nuoi -->

	<div class="jumbotron">
		<div class="grid grid-cols-6">
			<div class="col-span-4">
				<div class="jumbotron-adoption-process">
					<h1>Quy Trình Nhận Nuôi</h1>
					<br />
					<p>
						Trước khi quyết định nhận nuôi bé chó hay mèo nào, bạn hãy tự hỏi bản thân
						rằng mình đã sẵn sàng để chịu trách nhiệm cả đời cho bé chưa, cả về tài
						chính, nơi ở cũng như tinh thần. Việc nhận nuôi cần được sự đồng thuận lớn
						từ bản thân bạn cũng như gia đình và những người liên quan. Xin cân nhắc kỹ
						trước khi liên hệ với HPA về việc nhận nuôi.
						<br /><br />
						Bạn đã sẵn sàng? Hãy thực hiện các bước sau đây nhé:
						<br /><br />
						1️⃣Tìm hiểu về thú cưng bạn muốn nhận nuôi trên trang web của HPA.
						<br />
						2️⃣Liên hệ với Tình nguyện viên phụ trách bé để tìm hiểu thêm về bé.
						<br />
						3️⃣Tham gia phỏng vấn nhận nuôi.
						<br />
						4️⃣Chuẩn bị cơ sở vật chất, ký giấy tờ nhận nuôi và đóng tiền vía để đón bé
						về.
						<br />
						5️⃣Thường xuyên cập nhật về tình hình của bé, đặc biệt là khi có sự cố để
						được tư vấn kịp thời.

						<br /><br />
						❗ Lưu ý:
						<br />
						- Chỉ inbox 01 Tình nguyện viên phỏng vấn, KHÔNG NÊN inbox tất cả danh sách.
						Trường hợp TNV chưa phản hồi lại trong vòng 1 ngày, vui lòng inbox cho Page.
						<br />
						- Phần phỏng vấn có thể có nhiều câu hỏi mang tính chất riêng tư, vì vậy
						mong bạn hãy kiên nhẫn nhé!
						<br />
						- Tiền vía mỗi bé sẽ khác nhau tùy thuộc vào tình trạng của bé khi cứu cũng
						như các dịch vụ y tế (tiêm phòng, triệt sản) đã thực hiện.
						<br />
						- Tiền vía dùng để trả các khoản chi về y tế trước đây cho bé, cũng như để
						hỗ trợ chi phí chăm sóc, nuôi dưỡng các bé khác tại nhà chung.
						<br />
						- Trường hợp không nuôi được tiếp cần trả lại cho Nhóm, không tự ý đem cho
						người khác.

						<br /><br />
						😸Nếu bạn chỉ có thể chăm sóc tạm thời (foster), tham khảo thông tin tại mục
						Tình nguyện
						<br /><br />
						🐶Tìm hiểu thêm về chương trình Nhận nuôi Ảo ở banner cuối trang này.
					</p>
				</div>
			</div>

			<div class="col-span-2">
				<div class="adopt-condition">
					<div class="adopt-condition-body">
						<h1>Điều Kiện Nhận Nuôi</h1>

						<p>
							<img src="/assets/pink-cat-foot.png" alt="" class="inline" /> Tài chính
							tự chủ và ổn định. <br />
							<img src="/assets/pink-cat-foot.png" alt="" class="inline" /> Chỗ ở cố
							định, ưu tiên tại Hà Nội. <br />
							<img src="/assets/pink-cat-foot.png" alt="" class="inline" /> Cam kết
							tiêm phòng và triệt sản. <br />
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- tim thu cung -->
	<div class="adopt-pet">
		<div class="container mx-auto">
			<div class="adopt-pet-title">
				Tìm thú cưng
				<img src="/assets/leg-icon-512.png" alt="" class="mx-auto w-10" />
			</div>

			<div class="find-animal">
				<div class="pet-sample">
					<button class="pet-sample-btn">Tất cả</button>
					<button class="pet-sample-btn">Chó</button>
					<button class="pet-sample-btn">Mèo</button>
					<button class="pet-sample-btn">Khác</button>
				</div>

				<div class="pet-form">
					<!-- gioi tinh -->
					<div class="form-group">
						<label>Giới tính</label>
						<select>
							<option selected value="0">Tất cả</option>
							<option value="male">Đực</option>
							<option value="demale">Cái</option>
							<option value="other">Chưa rõ</option>
						</select>
					</div>

					<!-- do tuoi -->
					<div class="form-group">
						<label>Độ tuổi</label>
						<select>
							<option selected value="0">Tất cả</option>
							<option value="yound">Trẻ</option>
							<option value="mature">Trưởng thành</option>
							<option value="old">Già</option>
							<option value="other">Chưa rõ</option>
						</select>
					</div>

					<!-- triệt sản -->
					<div class="form-group">
						<label>Triệt sản</label>
						<select>
							<option selected value="0">Tất cả</option>
							<option value="1">Có</option>
							<option value="0">Không</option>
							<option value="other">Chưa rõ</option>
						</select>
					</div>

					<!-- mau -->
					<div class="form-group">
						<label>Màu</label>
						<select>
							<option selected value="0">Tất cả</option>
							<option value="dark">Đen</option>
							<option value="white">Trắng</option>
							<option value="red blue">Xanh đỏ</option>
						</select>
					</div>

					<!-- ten -->
					<div class="form-group">
						<label>Tên</label>
						<select>
							<option selected value="0">Tất cả</option>
							<option value="dog">Chó</option>
							<option value="cat">Mèo</option>
							<option value="rabbit">Thỏ</option>
						</select>
					</div>

					<!-- tim kiem -->
					<div class="form-group">
						<label class="text-transparent">Tên</label>
						<button class="btn-primary">Tìm kiếm</button>
					</div>
				</div>
			</div>

			<div class="pet-result ">
				<div class="pet-list">
					<a routerLink="/adopt-pet/adopt-pet-detail" class="pet-item">
						<div class="pet-img">
							<img
								src="https://www.hanoipetadoption.com/admin/user-content/Animal/45b039e7-8224-4439-8b7e-3424969dc477.jpeg"
								alt=""
							/>
						</div>
						<h3>Judy</h3>
						<p>Giới tính: <span>Cái</span></p>
						<p>Tuổi: <span>Trưởng thành</span></p>
						<p>Tiêm phòng: <span>Chưa rõ</span></p>
					</a>
				</div>

                <!-- pagination -->
				<div class="pagination py-5">

					<nav aria-label="Page navigation example mx-auto">
						<ul class="list-style-none mb-6 flex">

							<li>
								<a
									class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100  focus:outline-none active:bg-neutral-100 "
									href="#!"
									>Previous</a
								>
							</li>

							<li>
								<a
									class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300"
									href="#!"
									>1</a
								>
							</li>

							<li aria-current="page">
								<a
									class="relative block rounded bg-success-100 px-3 py-1.5 text-sm font-medium text-success-700 transition duration-300 focus:outline-none dark:bg-green-950 dark:text-success-500"
									href="#!"
									>2
									<span
										class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)]"
										>(current)</span
									>
								</a>
							</li>

							<li>
								<a
									class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300"
									href="#!"
									>3</a
								>
							</li>

							<li>
								<a
									class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:outline-none active:bg-neutral-100  "
									href="#!"
									>Next</a
								>
							</li>

						</ul>
					</nav>

				</div>
			</div>
		</div>
	</div>
</div>
