<div class="wrapper">
	<div class="action-menu">
		<div class="search">
			<input type="text" placeholder="Tìm giống" />
			<button class="ml-2"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>

		<a
			routerLink="/admin/add-breed"
			class="block search ml-2 bg-lime-400 text-white hover:bg-lime-700 duration-150"
		>
			<button class="">Thêm giống <i class="fa-solid fa-plus"></i></button>
		</a>
	</div>

	<div class="pet-section">
		<div class="pet-container">

			<!-- pet list -->
			<div class="pet-list">
				
				@for (breed of breeds; track $index) {
					<div class="bg-white border border-gray-200 rounded-lg shadow ">
						<a href="#">
							<img class="rounded-t-lg" [src]="baseBreedImage + '/' + breed.thumbPath" alt="" />
						</a>
						<div class="p-5">
							<a href="#">
								<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">{{breed.breedName}}</h5>
							</a>
							<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{breed.description}}</p>
							<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
								Read more
								<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
								</svg>
							</a>
						</div>
					</div>
				}
				

				

			</div>

			<!-- pagination -->
			<div class="pagination py-5">
				<nav aria-label="Page navigation example mx-auto">
					<ul class="list-style-none mb-6 flex">
						<li>
							<a
								class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:outline-none active:bg-neutral-100"
								href="#!"
								>Previous</a
							>
						</li>

						<li>
							<a
								class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300"
								href="#!"
								>1</a
							>
						</li>

						<li aria-current="page">
							<a
								class="relative block rounded bg-success-100 px-3 py-1.5 text-sm font-medium text-success-700 transition duration-300 focus:outline-none dark:bg-green-950 dark:text-success-500"
								href="#!"
								>2
								<span
									class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)]"
									>(current)</span
								>
							</a>
						</li>

						<li>
							<a
								class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300"
								href="#!"
								>3</a
							>
						</li>

						<li>
							<a
								class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:outline-none active:bg-neutral-100"
								href="#!"
								>Next</a
							>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
